{{ template "header" . }}

<div class="center-container">
	<h1>Smark</h1>
{{ if eq .Viewer.Username "" }}
	{{ if .FlashData }}
		{{ range .FlashData }}
			{{ if eq .Type 1 }}
				<h2 class="notify-error">{{ .Message }}</h2>
			{{ else }}
				<h2 class="notify-info">{{ .Message }}</h2>
			{{ end }}
		{{ end }}
	{{ else }}
		<h2 class="notify-info">You need to login!</h2>
	{{ end }}
	<form method="post">
		<div class="form-input">
			<input type="text" id="username" name="username" placeholder="Enter username or email" autofocus required><br />
			<input type="password" id="password" name="password" placeholder="Enter password" required><br />
			<input type="submit" value="Login">	<br/>	
		</div>
	</form>
	<form action="/signup">
		<input type="submit" value="No account? Sign up here">	<br/>			
	</form>
{{ else }}
<h2 class="notify-info">You are already logged in!</h2>
<h3><a href="dashboard">Click here to return to safety</a></h3>

{{end}}
</div>
{{ template "footer" . }}