{{ template "header" . }}

<div class="center-container">
	<h1>Smark</h1>
{{ if eq .Viewer.Username "" }}
	{{ range $type, $content := .FlashData }}
		{{ if eq $type "err" }}
			<h2 class="notify-error">{{ $content }}</h2>
		{{ else if eq $type "info" }}
			<h2 class="notify-info">{{ $content }}</h2>
		{{ end }}
	{{ else }}
		<h2 class="notify-info">{{ t .Viewer.Locale "login.login-prompt" }}</h2>
	{{ end }}
	<form method="post">
		<div class="form-input">
		{{ if .ContainsKey "uname" }}
			<input type="text" id="username" name="username" value={{ index .FlashMap "uname" }} placeholder={{ t $.Viewer.Locale "login.placeholder.username-email" }} autofocus required><br />
		{{ else }}
			<input type="text" id="username" name="username" placeholder={{ t .Viewer.Locale "login.placeholder.username-email" }} autofocus required><br />
		{{ end }}
			<input type="password" id="password" name="password" placeholder={{ t .Viewer.Locale "login.placeholder.password" }} required><br />
			<input type="submit" value={{ t .Viewer.Locale "login.submit" }}><br/>	
		</div>
	</form>
	<form action="/signup">
		<input type="submit" value={{ t .Viewer.Locale "login.signup" }}><br/>			
	</form>

{{ else }}
<h2 class="notify-info">{{ t .Viewer.Locale "error.logged-in" }}</h2>
<h3><a href="index">{{ t .Viewer.Locale "error.return-back" }}</a></h3>
{{end}}

</div>
{{ template "footer" . }}