{{ define "main" }}

<div class="vertical-side">
    
    <h1 class="branding">Smark</i>

    <a href="/logout">
    <i class="fas fa-sign-out-alt fa-3x" aria-hidden="true"></i>
    </a>
</div>

{{ end }}