{{ template "header" . }}
{{ template "main" . }}
<div class="a-box">

    <h3>{{ t .Viewer.Locale "profile.header" .ProfileView.Owner.QualifiedName }}
        {{ if .ProfileView.Owner.Online }}<span class="status online">{{t .Viewer.Locale "profile.activity.online" }}</span>{{ else }}
        <span class="status offline">{{t .Viewer.Locale "profile.activity.offline" .ProfileView.Owner.DisplayLastSeen }}</span>
        {{ end }}</h3>
    <i class="fas fa-user-alt fa-5x" aria-hidden="true"></i>

    <div class="profile-viewer">
        <i class="fas fa-user-plus"></i><a href="#" class="menu-item">Add</a>
        <i class="fas fa-exclamation-circle"></i><a href="#" class="menu-item">Report</a>

        {{ if .Viewer.IsAdmin }}
            <i class="fas fa-toolbox"></i><a href="#" class="menu-item">Admin</a>
        {{ end }}

    </div>

</div>
{{ template "footer" . }}
