* {
    font-family: Monospace;
}

h1 {
    color: rgb(255,255,0);
    font-family: Verdana;
}

body { 
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a {
    color: rgb(240,128,128);
}

.notify-error {
    color: rgb(255,99,71);
}

.notify-info {
    color: rgb(51, 153, 102)
}

/* Side bar */
.vertical-side {
    background: rgb(91,165,110);
    background: rgba(70, 29, 140, .6);
    width: 60px;
    height: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
}

.vertical-side a {
    color: white;
    display: block;
    padding: 5px 0px 10px 5px; 
    text-decoration: none; 
    position: absolute;
    bottom: 0;
}

.vertical-side h1 {
    font-style: normal;
    color: rgb(255,255,0);
    font-size: 15px;
    padding-left: 2px;
}

/* Dashboard */
.a-box {
    width: 450px;
    height: 150px;
    padding-top: 10px;
    padding-left: 20px;
    margin: 6em;
    color: black;
    border-radius: 15px;
    background: rgb(148, 46, 191);
    background: rgba(194,193,191, 0.7);
}

.a-box i {
    color: black;
    float: right;
    right: 0px;
    padding: 10px;
}

/* Center boxes!  */
.center-container {
    width: 500px;
    height: 400px;
    padding-top: 50px;
    margin: 7em auto;
    border-radius: 15px;
    text-align: center;
}

.center-container h1 {
    padding-top: 15px;
}

.center-container h2 {
    padding-top: 5px;
    padding-bottom: 15px;
}

.center-container input[type="email"],input[type="text"],input[type="password"] {
    width: 240px;
    height: 44px;
    margin-bottom: 20px;
    font-size: 10px;
    border: 1px solid #000;
    padding-left: 15px;
}

.center-container input[type="submit"] {
    padding: 15px 25px;
    background: rgb(70, 29, 140);
    color: #fff;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}
